<h2>Edit quote</h2>
<p><%= link_to("<<< Back to all quotes", quotes_path)  %></p>
<%= form_with model: @quote, local: true do |f| %>
  <div>
    <%= f.label "Quote"%>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label "Author"%>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.submit%>
  </div>
<% end %>
