<div class="container">
  <h2>Quotes</h2>
  <div class="btn-index">
    <button type="button" class="btn btn-primary"><%= link_to("Create new quote", new_quote_path) %></button>
    <button type="button" class="btn btn-info"><%= link_to("Donate") %></button>
    <button type="button" class="btn btn-info"><%= link_to("Generate Quote", generate_new_quote_path) %></button>
  </div>
  <% @quotes.each do |quote| %>
    <div class="card">
      <div class="card-body">
        <p class="card-title"> <%= quote.body %></p>
        <p class="card-text"> <%= quote.author %></p>
        <%= link_to 'Show', quote_path(quote), class: "card-link" %>
        <%= link_to 'Edit', edit_quote_path(quote), class: "card-link" %>
        <%= link_to 'Delete', quote, method: :delete, class: "card-link",
           data: {confirm: "Are you sure you want to delete this quote?"} %>
      </div>
    </div>
  <% end %>
</div>
